<div class="card attendance-card">
    <div class="card-body flex-space-between">
      <div class="col-8">
        <div class="row large">
            {{time}}
        </div>
        <div class="row small">
            {{date}}
        </div>
        <div class="pt-2">
          <button type="button" class="btn btn-primary">Clock-In</button>
        </div>
        <div class="row pt-2 small">
          Last Clock-out: 17:30 Yesterday
        </div>
      </div>
      <div class="col-4">
        <img src="../../../assets/images/attendance.png">
      </div>
    </div>
  </div>
  
  <div class="pt-2">
    Yesterday Attendance
  </div>
  <div class="card attendance-card">
    <div class="card-body flex-space-between">
      <div class="col-6">
        <div class="row large">
            09h 10mins
        </div>
        <div class="row small">
            Total working hours
        </div>
      </div>
      <div class="col-6 flex-space-between">
        
        <div class="col-6">
          <div class="row time">
            In-time
          </div>
          <div class="row small">
            09:00
          </div>
        </div>
        <div class="col-6">
          <div class="row time">
            Out-time
          </div>
         <div class="row small">
          17:30
         </div>
        </div>
      </div>
    </div>
  </div>
  