
<div class="card">
    <div class="card-body">
        <mat-calendar></mat-calendar>
    </div>
  </div>

  <div class="row flex">
    <div class="flex-space-between">
        <div>
            Leave Balance
        </div>
        <div>
            <a>See All</a>
        </div>
    </div>
</div>

<div class="pt-2">
    <div class="card menu-card">
        <div class="card-body flex-space-between">
            <div>
                7 <br>
                <span class="small">Casual Leave</span>
            </div>
            |
            <div>
                1 <br>
                <span class="small">Sick Leave</span>
            </div>
            |
            <div>
                12<br>
                <span class="small">Earned Leave</span>
            </div>
        </div>
    </div>
</div>