<div class="card post-card">
    <div class="card-body">
      <div class="card-title row">
        <div class="col-2">
            <img src="./../../../assets/images/Frame 1254 (1).png" alt="Card image cap">
        </div>
        <div class="col-6">
        <div class="row">
        Shubham Pathak
    </div>
    <div class="row small">
        2d ago
    </div>
    </div>
    </div>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img *ngIf="isImg" class="card-img-bottom" src="./../../../assets/images/image 4.png" alt="Card image cap">
  </div>
  
  